# Jupyter
.ipynb_checkpoints/

# Data files
*.xlsx
*.jsonl

# Other
.DS_Store

# Env files
.env

# Language files
*-dataset/
dataset/
*.tar
*.zip
*.csv
*.en
*.ach
*.lug
*.lgg
*.run
*.teo
*.src
*.tgt

# IDE files
.idea/
